h1 {
     font-family: Helvetica;
}
h2 { 
    padding: 5px 0px;
    margin: 0;
    width: 100%;
    font:bold;
}
body {
    padding: 0 100px;
    background-color: #e2e8eb;
    
}
.inStock, .notInStock {
    padding: 5px;
    margin: 10px 0;
    font-family: Helvetica;
}
  
.inStock {
    /* background-color: #fff; */
    border: white 1px solid;
    border-radius: 5px;
    display: flex;
    
}
lightMode {
    background-color: #e2e8eb;
}
.notInStock {
    display: none;

}
#button {
    font-family: Helvetica;
    border:  1px solid;
    padding: 0 20px;
    width: fit-content;
    border-radius: 5px;
}
.darkMode {
    background-color: #000a0e;
    color: #fff;
    /* border: white 1px solid; */
}
.itemDarkMode {
    background-color: #234452;
    color: #fff;
    border: #234452 1px solid;
    display: flex;
}
.buttonDarkMode {
    background-color: #000a0e;
    color: #fff;
    border: white 1px solid;
    
}