h1 {
     font-family: Helvetica;
     border-bottom: 1pxs solid;
}
h2 { 
    padding: 5px 0px;
    margin: 0;
    width: 100%;
    font:bold;
}
body {
    padding: 0 150px;
    background-color: #e2e8eb;
    
}
  
.inStock {
    background-color: #fff;
    border: white 1px solid;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    margin: 10px 0;
    font-family: Helvetica;  
}
.lightMode {
    background-color: #e2e8eb;
}
#button {
    font-family: Helvetica;
    border:  1px solid;
    padding: 0 20px;
    width: fit-content;
    border-radius: 5px;
}
.darkMode {
    background-color: #000a0e;
    color: #fff;
    /* border: white 1px solid; */
}
.itemDarkMode {
    background-color: #234452;
}
.buttonDarkMode {
    background-color: #000a0e;
    color: #fff;
    border: white 1px solid;
    
}